* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #00CCFF;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #000000;
    font-size: 64px;
    font-weight: normal;
}
